#============= sysinit ==============
allow sysinit proc:file write;
allow sysinit storage_file:dir getattr;
allow sysinit system_data_file:dir write;
#allow sysinit zygote_exec:file { execute getattr read open };
allow sysinit zygote_exec:file { rx_file_perms };
